
<div>
    <div><strong>Search Toons</strong></div>
    <input id="searchName" type="text" onkeyup="search()" />
    <select id="names" onchange="getUserProfile()">
        <option value="Search">Search</option>
    </select>
</div>

<script type="text/javascript">
    function search() {
        var name = $('#searchName').val();
        try {
            $.ajax({
                url: '/api/SearchMembers/' + name,
                async: false,
                type: 'GET',
                success: function (data) {
                    $('#names').empty();
                    if ($(data).length > 0) {
                        $('#names').append($('<option />').text('Names ready'));
                        $.each(data, function (n1) {
                            $('#names').append($('<option />').val(data[n1]).text(data[n1]));
                        });
                    }
                    else {
                        $('#names').append($('<option />').text('No names found'));
                    }
                },
                failure: function(){alert('Fail');}
            });
        }
        catch (e) {
            alert(e.message);
        }
    }
    function getUserProfile() {
        var name = $('#names').val();
        try {
            $.ajax({
                url: '/api/GetUserProfileUrl/' + name,
                async: false,
                type: 'GET',
                success: function (data) {
                    window.location.href = data;
                },
                failure: function(){alert('Fail');}
            });
        }
        catch (e) {
            alert(e.message);
        }
    }
</script>