@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

@{Html.RenderPartial("_CorpStructure");}

<h3>Mission Statement</h3>

<p>
    Raised By Wolves Inc has been founded to provide an environment where players have the opportunities and support they need to PVP at all levels in a drama-free nullsec environment.
</p>

<h4>Culture</h4>

<p>
    Our focus is on building combat-capable pilots who are able to have fun PVPing but importantly a place where you are treated as a member of a community rather than just a number in a fleet.
    <br />
    Our corp values maturity, patience and intelligence. We do not accept bigotry in any form. Racist, sexist, homophobic or any other bigoted opinions are not welcome. Whilst corp chat, slack and mumble can get a little colourful we try to keep jokes the lighter shade of blue so our comms are probably best described as PG-13. We don’t smack-talk in local because today’s enemies are tomorrow’s friends.
    <br />
    We do our very best to uphold our <a href="https://bladesofgrass.space/philosophy.html">alliance’s  philosophy</a>. If you can’t agree to this philosophy then we’re probably not the right corp for you.</p>

<h4>Bittervets</h4>

<p>
    Whilst we consider ourselves to be a new player friendly corporation, we don’t discriminate against higher SP players and the majority of people in our corp have been playing together for years. If you can treat your new corpmates with respect and courtesy, enjoy playing eve and enjoy shooting at ships in small gangs to large coalition-led fleets, then we’re interested in hearing from you.
    <br />
    We are committed to continuous development so those players who would like to try their hand at FCing are very welcome to take fleets out which will be fully covered by SRP. The SRP programme we have is very generous and includes solo combat SRP.
    <br />
    Whilst not essential, we’re especially interested if you are training for or can currently fly a capital or supercapital ship. You will be expected to train into the coalition, alliance and corp doctrines in a reasonable timeframe.
</p>

<h4>New Players</h4>

<p>It is only by making mistakes can players improve their skills and become more accomplished pilots. New players can start learning straight-away... although in the very first stages of the game you can learn just as much outside of the game as you can inside it, new players can be incredibly effective PVPers within hours. We don’t believe in throwing new players into fleets as tackle only to die within the first moments of an engagement, we prefer our new players to gain initial experience of fleets as Electronic Warfare pilots in free frigates where they can be hilariously effective. We don’t discriminate against Alpha clone players and we can easily say that you will get as much help as you need with our online training, free skillbooks and ships and a lot of experienced players who enjoy helping new players get into EVE.</p>

<h4>Expectations</h4>

<p>
    All pilots are considered responsible for making attempts to join ops and be knowledgeable about what we're doing. We don't expect anyone to quit their jobs to play EVE, and real life always comes first but a certain level of activity is expected to be a viable member. We currently require at least 1 fleet a month from every member although more is better. We want people who enjoy PVP, want to be better at it, and want to help others be better at it.
    <br />
    We expect pilots to join our standing fleets when they're on, to use our comms, and to work together as a team. You will need to live in our space and be as social as your time allows, understanding that there are times when we're just hanging out together, and other times when we need all hands on deck.
    <br />
    The largest expectation overall is that you enjoy EVE and want to fly with some friendly corp and alliance mates and shoot at some ships together.
</p>

<p><strong>R3MUS: Our clones may have been born in a tube, but we were Raised By Wolves.</strong></p>

<h3>Rules &amp; Regs</h3>

<p>Most of this is covered above but here are our rules in handy bulletpoints for you!</p>
@{Html.RenderPartial("_Rules");}
